Source: flocker
Section: python
Priority: extra
Maintainer: HybridLogic <tech@hybridcluster.com>
Build-Depends: debhelper (>= 9), python, dh-virtualenv, config-package-dev (>= 5.0)
Standards-Version: 3.9.5

Package: flocker
Architecture: all
Depends: python2.7, ${misc:Depends}
Description: really neat package!
 second line can contain extra information about it.

Package: flocker-buildslave
Architecture: all
Depends: python2.7, python2.7-dev, python-virtualenv, git,
	 dh-virtualenv, debhelper, ${misc:Depends},
	 buildbot-slave
Description: Configuration for buildslave for flocker

Package: flocker-ssh-port
Architecture: all
Depends: openssh-server, ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Configuration for buildslave for flocker
